* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: rgb(34, 33, 62);
}

#main {
    width: 100%;
    height: 100%;
    text-align: center;
}

#canvas {
    width: 90vh;
    height: 90vh;
    margin-top: 5vh;
    bottom: 0;
}